# --------------------------------------------------------------------------------------------------------------------------------
# phpstorm stuff
# ________________________________________________________________________________________________________________________________
.Build
.buildpath
.project
.settings
.metadata
.idea
vendor
