# --------------------------------------------------------------------------------------------------------------------------------
# phpstorm stuff
# ________________________________________________________________________________________________________________________________
.buildpath
.project
.settings
.metadata
.idea
.Build

# --------------------------------------------------------------------------------------------------------------------------------
# darwin stuff
# ________________________________________________________________________________________________________________________________
**/.DS_Store

# --------------------------------------------------------------------------------------------------------------------------------
# server stuff
# ________________________________________________________________________________________________________________________________
**/.htaccess
**/*.log

# --------------------------------------------------------------------------------------------------------------------------------
# archive stuff
# ________________________________________________________________________________________________________________________________
**/*.gz
**/*.bz2
**/*.tar
**/*.zip
**/*.phar

# --------------------------------------------------------------------------------------------------------------------------------
# composer stuff
# ________________________________________________________________________________________________________________________________
vendor/
composer.lock

# --------------------------------------------------------------------------------------------------------------------------------
# typo3 project stuff
# ________________________________________________________________________________________________________________________________
.Build/
